[submodule ".registry"]
	path = .registry
	url = https://github.com/mattwigway/mattwigway.r-universe.dev
	branch = HEAD
[submodule "MyFirstFourStepModel"]
	path = MyFirstFourStepModel
	url = https://github.com/mattwigway/MyFirstFourStepModel
[submodule "gtfsrealtime"]
	path = gtfsrealtime
	url = https://github.com/mattwigway/gtfsrealtime-r
